<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
</head>
<body>
    <header>
        <h1>
            Servicios
        </h1>
    </header>
    <nav>
        <a href="Index.html">
            <b>
                &#127970;Inicio 
            </b>
        <br>
        </a>
        <a href="Views/services.html">
            <b>
                &#129520;Servicios
            </b>
        </a>
        <br>
        <a href="Views/contact.html">
            <b>
                &#128100;Nosotros
            </b>
        </a>
        <br>
        <a href="Views/About.html">
            <b>
                &#127758;Contacto
            </b>
        </a>
    </nav>







    <footer>

    </footer>


</body>
</html>