<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Servicios</title>
</head>
<body>
    <header>
        <h1>
            Detalles de Servicios
        </h1>
    </header>
    <nav>
        <a href="../Index.html">
            <b>
                &#127970;Inicio 
            </b>
        <br>
        </a>
        <a href="services.html">
            <b>
                &#129520;Servicios
            </b>
        </a>
        <br>
        <a href="contact.html">
            <b>
                &#128100;Nosotros
            </b>
        </a>
        <br>
        <a href="About.html">
            <b>
                &#127758;Contacto
            </b>
        </a>
    </nav>
    <br>







    <footer>
        &#169; 2025 LexNova
    </footer>
</body>
</html>